#app {
  text-align: center;
  background-color: rgb(190, 38, 89);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(190, 38, 89);
}

img {
  max-width: 400px;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
  background-color: rgb(190, 38, 89);
}

h1,
h2,
h3 {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
  margin: 0;
  background-color: rgb(190, 38, 89);
}

#headtitle {
  padding-top: 10px;
  padding-bottom: 10px;
}

#navBar {
  background-color: rgb(190, 38, 89);
}

#nav-barFlex {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(15, 2, 6);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: antiquewhite;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  font-style: bold;
  margin-bottom: 10px;
}

#athlete-link {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  color: black;
  margin-top: 10px;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}

#athlete-weightClass {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  color: black;
  margin-top: 10px;
  font-size: 20px;
  margin: 0;
  padding-top: 3%;
  font-weight: bold;
}

#athlete-nationality {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
  margin-top: 10px;
  font-size: 15px;
  margin: 0;
  padding-top: 2%;
  font-weight: bold;
}

#athlete-flag {
  width: 30px;
  margin-right: 10px;
}

#image-top {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  background-color: black;
}

#footer-flex {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(15, 2, 6);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: antiquewhite;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  font-style: bold;
  margin-top: 10px;
}

#INSTAGRAM {
  text-decoration: none;
  color: antiquewhite;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  font-style: bold;
}
