#app {
  text-align: center;
  margin: 0;
}

img {
  max-width: 400px;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
}

h1 {
  margin: 0;
  background-color: pink;
}

h2 {
  background-color: rgba(184, 79, 79, 0.329);
  margin: 0;
}
