#app {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 400px;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
  background-color: palevioletred;
}

h1,
h2,
h3 {
  margin: 0;
  background-color: palevioletred;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#athlete-link {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 70%;
  font-style: normal;
  color: black;
  margin: 0;
}
